:root
{
    --font: "Monospace";
    --normal_font: 400;
	--bold_font: 700;
	--bolder_font: 900;
    --color1: #9E788F;
    --color2: #A9B3CE;
    --color3: #7CDEDC;
    --color4: #7284A8;
    --color5: #474954;
}

.main_image
{
    padding-top: 1%;
    padding-left: 10%;
}

.title
{
    padding-left: 10%;
    font-size: 150%;
}

.container
{
    display: flex;
    align-items: start;
}

.main_image
{
    margin-right: 45px;
}

.buttons
{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

table
{
    border-collapse: collapse;
}

.upper_editor
{
    
}

button
{
    width: 100px;
    height: 50px;
    text-align: center;
}
